.head{
    text-align: justify;
}
.listas{
    text-align: justify;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.instructions{
    color: black;
    text-align: justify;
    font-weight: bolder;
    border: 6px dashed rgb(129, 1, 1);
    background-image: url(/assets/imagenes/papas2.jpeg)
}
img{
    width: 400px;
}
.papitas{
    position: relative;
    top: 80px;
}